{% extends "main/page.twig" %}

{% block styles %}
    <link rel="stylesheet" href="/assets/styles/about.css">
{% endblock %}

{% block content %}
    <h1>the fluXis team</h1>
    <h3 style="margin-bottom: 10px;">the most chaotic trio ever</h3>
    <div class="memberList">
        <div class="teamMember">
            <div class="memberNameBox">
                <img src="https://avatars.githubusercontent.com/u/65369281?v=4">
                <div>
                    <p class="memberName">Flustix</p>
                    <p class="memberRole">the lead developer</p>
                </div>
            </div>
            <p class="memberDesc">fox lover and a (kinda) good rhythm gamer. also definetly not a nanahira weeb</p>
        </div>
        <div class="teamMember">
            <div class="memberNameBox">
                <img src="https://avatars.akamai.steamstatic.com/9c85c8433611ddd785da1840fb516aa28d0b88e6_full.jpg">
                <div>
                    <p class="memberName">Akiri</p>
                    <p class="memberRole">community management</p>
                </div>
            </div>
            <p class="memberDesc">semi experienced 4K player, chord jack mapper, map modder</p>
        </div>
        <div class="teamMember">
            <div class="memberNameBox">
                <img src="https://avatars.githubusercontent.com/u/78933889?v=4">
                <div>
                    <p class="memberName">Rooot</p>
                    <p class="memberRole">servers and stuff</p>
                </div>
            </div>
            <p class="memberDesc">fox addicted idiot that loves coding and sucks at rhythm games</p>
        </div>
    </div>
{% endblock %}