{% extends "main/page.twig" %}
{% block content %}
<h1>Charts</h1>
<div class="maps">
    {% for map in maps %}
    <div>
        <a href="/map/{{map.mapid}}"><h3>{{map.title}}</h3></a>
    </div>
    {% endfor %}
</div>
{% endblock %}