{% extends "main/page.twig" %}
{% block content %}
<h1 class="mapTitle">{{map.title}}</h1>
<h2 class="mapArtist">by {{map.artist}}</h2>
<p class="mapMapper">mapped by <a href="/user/{{map.mapperid}}">{{map.mapper}}</a></p>
{% endblock %}