<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/styles/global.css">
        <link rel="icon" type="image/png" href="/static/images/favicon.png">
        <title>{{title}} | fluXis</title>
        {% block styles %}{% endblock %}
    </head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" >
    <body>
        {% include 'main/toolbar.twig' %}
        <div class="content">{% block content %}{% endblock %}</div>
    </body>
</html>