<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#">
    <head>
        <link rel="stylesheet" href="/assets/styles/global.css">
        <link rel="icon" type="image/png" href="/assets/images/favicon.png">

        <meta property="og:title" content="{{title}} | fluXis" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="https://fluxis.foxes4life.net/assets/images/favicon.png" />

        <title>{{title}} | fluXis</title>
        {% block styles %}{% endblock %}
    </head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" >
    <body>
        {% include 'main/toolbar.twig' %}
        <div class="content">{% block content %}{% endblock %}</div>
    </body>
</html>