<nav>
    <a class="logoBox" href="/">fluXis</a>
    <!-- <a class="loginBox">login</a> -->
    <div class="links">
        <a href="/charts">charts</a>
        <a href="/ranks">rankings</a>
        <a href="https://discord.gg/AC24H6EC3p" target="_blank">discord</a>
    </div>
</nav>