@font-face {
    font-family: quicksand;
    src: url("/assets/font/QuicksandSB.ttf");
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #202020;
    background-image: url("/assets/images/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 100vh;

    color: white;
    font-family: quicksand;
    text-align: center;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:visited, a:link {
    color: white;
}

h1, h2, h3, h4 {
    width: 100%;
    text-align: center;
}

nav {
    height: 55px;
    background-color: rgba(32, 32, 32, .8);

    display: flex;
    justify-content: space-between;
    padding: 0 10px;

    position: fixed;
    top: 0px;
    width: calc(100% - 20px);
}

nav .links {
    display: flex;
}

nav .links a {
    margin-left: 10px;
}

nav a {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    transition: .2s;
}

nav a:hover {
    background-color: rgba(206, 206, 206, 0.2);
}

.content {
    width: 1200px;
    margin: 5em auto;
    padding: 25px;
    background-color: rgba(32, 32, 32, .8);
    border-radius: 10px;
    transition: .6s;
}

@media screen and (max-width: 1500px) {
    .content {
        width: calc(100% - 20px);
        padding: 25px 10px;
        margin: 5em 0;
        margin-top: 55px;
        border-radius: 0;
    }
}